:root {
  --black: #231f20;
  --blue: #2e9df7;
  --gold: #ffc907;
  --white: #ffffff;
}

  * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   text-decoration: none;
    font-size : 14px;
}
  body {
   width: 100%;
   background-image: url("./darkbg6.jpeg");
  }

#side-nav{
 background: var(--black);
 width: 0%;
 height: 750px;
 text-align: center;
 padding: 0px;
 border-radius: 5px;
 position: fixed;
 top: 0;
 left: 0;
 display: block;
 overflow-x: hidden;
 transition: 1s linear;
 z-index: 1;
}

#top-nav >ul {
 text-align: center;
 margin: 50px;
 border:2px red solid;
}

.top-list {
 
 color: var(--gold);
 margin: 25px;
 font-size: 20px;
 list-style: none;
 clear:both;
border-bottom: 2px var(--white) solid;
padding: 5px;
 transition:1.5s linear;
}

#close {
 background: var(--black);
 border: 0px;
 width: 30px;
 color:var(--gold);
 font-size: 40px;
 font-weight: 500;
 float: right;
 margin:40px;
 
}

  a {
   color: #00affe;
   text-shadow: 0px 0px 2px #272728;
  }

  #main-screen {
   background-image: url(./header_image.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
   font-size: 17px;
  }

  #Logo-name {
font-size: 30px;
   color: #BC9E00;
   text-shadow: 1px 0px 3px rgb(24, 24, 18), 2px 2px 3px rgb(17, 17, 2);
  }

  #show-text {
   line-height: 2.3;
   text-shadow: 1px 0px 3px rgb(250, 250, 2500);

  }

  #container {
   color: #000;
   line-height: 1.6;
   font-weight: 600;
   transform: translate(5%, 100%);
   width: 90%;

  }

  #container-2 {
   color: #000;
   line-height: 1.6;
   font-weight: 600;
   transform: translate(70%, 150%);
   width: 50%;

  }

  blockquote {
   color: white;
   width: 220px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 300;
   text-shadow: 1px 0px 3px rgb(0, 2, 5), 2px 2px 3px rgb(217, 217, 202);
  }

  strong {
   color: #fff;
   text-shadow: 1px 0px 3px rgb(24, 24, 18), 2px 2px 3px rgb(17, 17, 2);

  }

  #services {
   width: 100%;
   background: #F2F2F2;
   padding-top: 50px;
   background-image: url(./darkbg6.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
  }

  .card-box {
   width: 280px;
   background-color: var(--black);
   box-shadow: 1px 2px 2px rgb(24, 24, 18), -2px 2px 2px rgb(24, 24, 18);
   transform: translateX(15%);
   border-radius: 10px;
   text-align: center;
   padding-top: 15px;
   margin-bottom: 50px;
    position: relative;
}
  
.hover::after{
  content: "";
 position :absolute;
 width: 100%;
min-height:100%;
  top: 0%;
  left: 0;
   border-radius: 10px;
 background-color:rgba(120, 50, 20, 0.6);
  z-index:100;
}
.hover-text::after{
  content: "Register";
 color: var(--black);
 position :absolute;
text-align: center;
width: 150px;
min-height:0%;
 background-color:rgba(250, 250, 250, 0.8);
  z-index:400;
   border-radius: 10px;
 display:block;
  top: calc(140px - 10%);
  left:20%;
padding: 10px;
font-weight: 900;
font-size: 18px;
animation: fade-in 1s ease-in infinite;
}

  .card {
   width: 280px;
   height: 250px;
   transform: translateX(5%);
   border-radius: 10px;
  }

  #card-1 {
   background: url("./develop-img.jpeg") no-repeat;
   background-size: 250px 200px;
  }

  #card-2 {
   background: url("./we-train.png") no-repeat;
   background-size: 250px 200px;
  }

  #card-3 {
   background: url("./design-img.jpeg") no-repeat;
   background-size: 250px 200px;
  }

  #card-4 {
   background: url("./collaborate-img.jpeg") no-repeat;
   background-size: 250px 200px;
  }

  .card-h2 {
   position: absolute;
   color: #fff;
   font-size: 19px;
   left: 7px;
   bottom: 7px;
   text-shadow: 0px 1px 1px #ffea00, 1px 0px 1px #00aeff;
  }
  .card-text, .slide-text{
   font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: justify;
   padding: 10px 10px 10px;

  }
.card-text{
    color: var(--gold);
   text-shadow: 0px 0px .5px var(--white);
}
.slide-text{
  color:  #3b5998;
   text-shadow: 1px 0px 1px var(--white);
font-weight: 600; 
}

  #slider {
   overflow: auto;
   width: 100%;
   height: 100%;
   display: flex;
   padding: 10px 40px 40px 0;
  }
#sec-header{
  text-align: center;
  padding: 0px 40px;
  margin: 10px 0;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0px 0px 2px var(--black);
  animation: fade-in 1s infinite;
}

@keyframes fade-in {
 0%,100%{
padding:10px 10px 10px  20px;
}
 25%{

padding:10px 20px 10px 10px;

  }
   50% {
     padding: 10px 10px 10px 10px;
   }
 75% {
        padding: 10px 20px 10px 10px;
      }
}
  .slide {
   width: 700px;
   height: 600px;
   background: conic-gradient(royalblue, var(--black));
   transform: translateX(10%);
   text-align: center;
   padding-top: 1px;
   margin-bottom: 50px;
   margin: 10px 15px 0 15px;
   border-radius: 10px;

  }

  .slide-card {
   width: 270px;
   height: 500px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin: 0px;
  }
.slide-text{
  display : none;
}
  #slide-card-CoinX {
   background: url("./CoinX.png") no-repeat;
   background-size: cover;
   background-position: 0px -100px;
  }
  #slide-card-Tick-tack {
   background: url("./Tick-tack.png") no-repeat;
   background-size: cover;
   background-position: 0px -90px;
  }

  #slide-card-To-do{
  background: url("./To-do.png") no-repeat;
   background-size: cover;
    background-position: 0px -65px;
 }

  #slide-card-Mini-calc{
   background: url("./Mini-calc.png") no-repeat;
   background-size: cover;
    background-position: 0px -60px;
  }
  #slide-card-Pelindrome{
   background: url("./Pelindrome-checker.png") no-repeat;
   background-size: cover;
    background-position: 0px -70px;
  }
  #slide-card-Blog{
   background: url("./Blog-ui.png") no-repeat;
   background-size: cover;
    background-position: 0px -60px;
  }
  #slide-card-Nav-bar{
   background: url("./Animating-nav.png") no-repeat;
   background-size: cover;
    background-position: 0px -65px;
  }

  .slide-h2 {
   color: #fff;
   position: absolute;
   font-size: 19px;
   left: 17px;
   bottom: 17px;
   word-spacing: 2px;
   letter-spacing: 1.5px;
  }

  .cont-btn div {
   width: 300px;
   height: 30px;
   border-radius: 10px;
   text-align: center;
   font-size: 18px;
   padding: 5px 0;
   margin: 10px 0;
   border: 2px solid #f5f8fa;
   text-shadow: 0px 0px 1px #fff;
}


  .cont-btn:first-child div {
   color: #fff;
   background: #dd4b39;
  }

  .cont-btn:nth-child(2) div {
   color: #14171a;
   background: #1da1f2;
  }

  .cont-btn:nth-child(3) div {
   color: #f5f8fa;
   background: #3b5998;
  }

  .cont-btn:nth-child(4) div {
   color: #14171a;
   background: #25d366;
  }

  .cont-btn:nth-child(5) div {
   color: #14171a;
   background: #0088cc;
  }

  .cont-btn:nth-child(6) div {
   color: #72FF00;
   background: #833ab4;
  }

  li {
   list-style: none;
  }

  #footer {
   margin: 0 0 20px 0;
  }

  footer {
   width: 100%;
   height: 50px;
   color: #C39C00;
   background: #000;
   text-align: center;
   padding: 15px 0 0;
  }

  #bottom-nav {
    background: #212122;
   margin: 40px 10px;
   padding: 10px;
   border-radius: 5px;
  }

  #bottom-nav ul {
   display: flex;
   justify-content: space-around;
  }

  .bottom-list {
   font-size: 18px;
   font-weight: 600;
  }

  .bottom-list:hover {
   color: #1382B9;
   text-shadow: 0px 0px 2px #000;
  }

  .footer-headings {
   margin: 10px 0 10px 10px;
  }

  .foot-list {
   margin-left: 20px;
   line-height: 2;
  }

  .foot-list>li {
   width: 90%;
   font-weight: 500;
   border-bottom: 1px solid #000;
  }

  .foot-list li:hover {
   border-bottom-color: #0780C7;
  }

  #top-nav {
   width: 45px;
   height: 30px;
   background: transparent;
  }

  .bar,
  #bar-con {
   width: 90%;
   height: 8px;
   margin: 3px;
  }

  .bar,
  #sub-bar {
   background-color: #000;
   border-radius: 10px;
   border: 0.5px solid #fff;
  }

  #bar-con {
   background-color: transparent;
   display: flex;
   justify-content: space-between;
  }

  #sub-bar {
   width: 70%;
  }

  #dot {
   width: 20%;
   height: 100%;
   background-color: #B4A30B;
   border: 0.5px solid red;
   border-radius: 100%;
  }

  header {
   height: 50px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   border: 1px solid darkgoldenrod;
   position: sticky;
   padding: 5px;
  }

  #logo {
   height : 40px;
   width: 40px;
   border-radius: 100%;
   border: 0px solid black;
   background:url("./Logo.jpg");
   background-size: contain;
  }
  